/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.spatialFilterToolbar__shape{
  position: relative;

  .euiButtonIcon {
    width:30px;
    height:30px;
    border: transparent;
  }
}
.spatialFilterGroup__popoverPanel{
  max-width: 300px;
  border: hidden;
}


