/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.addLayer__button {
  padding: $euiSizeM $euiSizeM;
}

.addLayerDialog__description {
  width: 16 * $euiSizeM;
}

.addLayer__types {
  width: 5 * $euiSizeL;
  height: 5 * $euiSizeL;
}

.addLayer__modalBody {
  padding: 0;

  .addLayer__selection {
    width: 10 * $euiSizeL
  }
}
