/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.mapTooltip {
  div.maplibregl-popup-content.mapboxgl-popup-content {
    padding: 0;
    background: none;
  }
}

.maplibregl-popup-anchor-top {
  .maplibregl-popup-tip {
    border-bottom-color:lightOrDarkTheme($ouiColorEmptyShade, $ouiColorLightestShade) !important;
  }
}

.maplibregl-popup-anchor-bottom {
  .maplibregl-popup-tip {
    border-top-color:lightOrDarkTheme($ouiColorEmptyShade, $ouiColorLightestShade) !important;
  }
}

.maplibregl-popup-anchor-left {
  .maplibregl-popup-tip {
    border-right-color:lightOrDarkTheme($ouiColorEmptyShade, $ouiColorLightestShade) !important;
  }
}

.maplibregl-popup-anchor-right {
  .maplibregl-popup-tip {
    border-left-color:lightOrDarkTheme($ouiColorEmptyShade, $ouiColorLightestShade) !important;
  }
}
