/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

@import "maplibre-gl/dist/maplibre-gl.css";
@import "../../variables";

.mapAppContainer, .map-page, .map-container, .map-main{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.maplibregl-ctrl-top-left {
  left: $euiSizeS;
  top: $euiSizeS;
}

.layerControlPanel-container {
  z-index: 1;
  position: absolute;
  margin-left: $euiSizeS;
  margin-top: $euiSizeS;
}

.zoombar {
  z-index: 1;
  position: absolute;
  bottom: $euiSizeM;
  right: $euiSizeS;
}

.SpatialFilterToolbar-container {
  z-index: 1;
  position: absolute;
  top:  ($euiSizeM + $euiSizeS) + ($euiSizeXL * 5);
  right: $euiSizeS;
}

.drawFilterShapeHelper {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 1px;
  left: 50%;
}
