name: Unit tests workflow
on:
  push:
    branches:
      - main
      - 2.*
  pull_request:
    branches:
      - main
      - 2.*
      - feature/**

env:
  OPENSEARCH_DASHBOARDS_BRANCH: '2.x'
jobs:
  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    name: Run unit tests
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Plugin
        uses: actions/checkout@v3
        with:
          path: dashboards-maps

      # Enable longer filenames for windows
      - name: Enable longer filenames
        if: ${{ matrix.os == 'windows-latest' }}
        run: git config --system core.longpaths true

      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v3
        with:
          repository: opensearch-project/OpenSearch-Dashboards
          ref: ${{ env.OPENSEARCH_DASHBOARDS_BRANCH }}
          path: OpenSearch-Dashboards

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: './OpenSearch-Dashboards/.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Yarn
        # Need to use bash to avoid having a windows/linux specific step
        shell: bash
        run: |
          YARN_VERSION=$(node -p "require('./OpenSearch-Dashboards/package.json').engines.yarn")
          echo "Installing yarn@$YARN_VERSION"
          npm i -g yarn@$YARN_VERSION

      - run: node -v
      - run: yarn -v

      - name: Move plugin to OpenSearch-Dashboard Plugins Directory
        run: mv dashboards-maps OpenSearch-Dashboards/plugins/dashboards-maps

      - name: Bootstrap plugin
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-maps
          yarn osd bootstrap

      - name: Run tests with coverage
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-maps
          yarn run test:jest --coverage

      - name: Uploads coverage
        uses: codecov/codecov-action@v1


