name: Unit tests workflow
on:
  push:
    branches:
      - "*"
      - "feature/**"
    paths:
      - src/plugins/custom_import_map/**
      - .github/workflows/unit-tests-workflow-for-customImportMap.yml
  pull_request:
    branches:
      - "*"
      - "feature/**"
    paths:
      - src/plugins/custom_import_map/**
      - .github/workflows/unit-tests-workflow-for-customImportMap.yml

env:
  OPENSEARCH_DASHBOARDS_VERSION: '2.0'
jobs:
  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    name: Run unit tests
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Plugin
        uses: actions/checkout@v2

      # Enable longer filenames for windows
      - name: Enable longer filenames
        if: ${{ matrix.os == 'windows-latest' }}
        run: git config --system core.longpaths true

      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v2
        with:
          repository: opensearch-project/OpenSearch-Dashboards
          ref: ${{ env.OPENSEARCH_DASHBOARDS_VERSION }}
          path: OpenSearch-Dashboards

      - name: Get node and yarn versions
        id: versions_step
        run: |
          echo "::set-output name=node_version::$(node -p "(require('./OpenSearch-Dashboards/package.json').engines.node).match(/[.0-9]+/)[0]")"
          echo "::set-output name=yarn_version::$(node -p "(require('./OpenSearch-Dashboards/package.json').engines.yarn).match(/[.0-9]+/)[0]")"

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ steps.versions_step.outputs.node_version }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install correct yarn version for OpenSearch Dashboards
        run: |
          npm uninstall -g yarn
          echo "Installing yarn ${{ steps.versions_step.outputs.yarn_version }}"
          npm i -g yarn@${{ steps.versions_step.outputs.yarn_version }}

      - name: Move src/plugins/custom_import_map to Plugins Dir
        run: mv src/plugins/custom_import_map OpenSearch-Dashboards/plugins/custom_import_map

      - name: Bootstrap plugin/opensearch-dashboards
        run: |
          cd OpenSearch-Dashboards/plugins/custom_import_map
          yarn osd bootstrap

      - name: Run tests with coverage
        run: |
          cd OpenSearch-Dashboards/plugins/custom_import_map
          yarn run test:jest --coverage

      - name: Uploads coverage
        uses: codecov/codecov-action@v1


